<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home/home.css" />
    <script defer src="/home/home.js"></script>
    <script
      src="https://kit.fontawesome.com/ef2b2a46e1.js"
      crossorigin="anonymous"
    ></script>
    <title>Sidebar</title>
  </head>
  <body>
    <button class="sidebar-toggle">
      <i class="fas fa-bars"></i>
    </button>
    <aside class="sidebar">
      <div class="sidebar-header">
        <img class="logo" src="../assets/logoTEDSA.png" alt="logo" />
        <button class="close-btn">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <ul class="links">
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/panel">Tareas</a>
        </li>
        <li>
          <a href="/signIn">Iniciar Sesion</a>
        </li>
        <li>
          <a href="/signup">Registro</a>
        </li>
      </ul>
      <ul class="social-icons">
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-behance"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-sketch"></i>
          </a>
        </li>
      </ul>
    </aside>

    <main style="position: relative; z-index: -1">
      <video
        autoplay
        loop
        style="
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        "
        src="/assets/home.mp4"
      ></video>
      <img
        style="position: absolute; top: 30vh"
        src="/assets/logoTEDSA.png"
        alt="logoTEDSA"
      />
      <h3 style="position: absolute; top: 70vh; color: aliceblue">
        Tedsa 2024
      </h3>
    </main>
    <script src="/notifications.js"></script>
  </body>
</html>
